/* Fuente global y tamaño predeterminado */
* {
    font-family: 'Verdana', Geneva, sans-serif;
    font-size: 13px;
}

body {
    background-color: #0a0a0a;
}

/* Contenedor Principal */
.container {
    padding: 25px;
    background-color: #212121;
    border-radius: 12px;
    box-shadow: 0 25px 70px rgba(128, 0, 128, 0.5); /* Morado */
    margin: 80px auto;
    width: 85%;
    max-width: 900px;
    text-align: left;
}

/* Estilo de Encabezado */
.titulo {
    font-size: 2.2em;
    color: #a569bd; /* Morado brillante */
    margin-bottom: 18px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 700;
}

/* Estilo de Subtítulo */
.descripcion {
    font-size: 1.2em;
    color: #f8f8f8;
    margin-bottom: 30px;
    font-weight: 300;
    line-height: 1.6em;
}

/* Estilo de la Tabla */
.table {
    width: 100%;
    border-spacing: 0;
    background-color: #282828;
    margin-bottom: 25px;
    border-radius: 10px;
    overflow: hidden;
}

/* Cabecera de Tabla */
.table .header-row {
    background-color: #6a0dad; /* Morado oscuro */
    color: #fff; /* Texto blanco */
    padding: 12px;
    text-align: center;
    font-weight: 600;
    border-bottom: 2px solid #2a2a2a;
    font-size: 15px;
    text-transform: uppercase;
}

/* Celdas de Datos */
.table .data-row {
    padding: 15px;
    border: none;
    text-align: left;
    color: #e8e8e8; /* Texto gris claro */
    font-weight: 400;
}

.data-row:nth-child(even) {
    background-color: #2f2f2f;
}
.data-row:nth-child(odd) {
    background-color: #3a3a3a;
}

/* Estilo de enlaces */
.link {
    color: #9b59b6; /* Morado intenso */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.link:hover {
    color: #d7bde2; /* Morado más claro al pasar el mouse */
    text-decoration: underline;
}

/* Botón morado personalizado */
.btn-red {
    height: 60px;
    background-color: #9b59b6; /* Morado intenso */
    color: #ffffff;
    border: none;
    font-weight: bold;
    font-size: 16px;
    width: 100%; /* Ocupa el ancho completo del contenedor */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-red:hover {
    background-color: #d7bde2; /* Morado más claro al pasar el mouse */
}